<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    
</head>
<body>
    <div class="container-fluid">
        <h1 style="text-align: center;">Inputs Analisis Report</h1>
    </div>
    <div class="container-fluid">
            <h2>Meta Information:</h2>
            <h3>Result Filepath: <span style="color: lightslategray;">{{ result_file }}</span> </h3>
            {% for file in input_files %}
                <h3>Input Filepath: <span style="color: lightslategray;">{{ file }}</span></h3>
            {% endfor %}
            <h4>Merging on:</h4>
            <ul style="list-style-type: none;">
            {% for column in merging_cols %}
                <li style="color: lightslategray;"> {{ column }} </li>
            {% endfor %}
            </ul>
            <h4>Matching id columns:</h4>
            <ul>
            {% for column in matching_id_columns %}
                <li style="color: lightslategray;"> {{ column }} </li>
            {% endfor %}
            </ul>
    </div>
    <div class="container-fluid">
        <h2 style="text-align: center;">Overall Assestment: {{ '%0.2f'|format(overall_percentage) }} </h2>
        <p  style="text-align: center;">Closer to 1 is better, above 75% is good</p>
    </div>
    <div class="container-fluid">
        <h2>Best Filter to Apply:</h2> 
        <h3>
            Column: <span style="color: lightslategray;">{{ best_filter[0] }} </span>;
            Filter Out: <span style="color: lightslategray;">{{ best_filter[1] }} </span>;
            Dtype: <span style="color: lightslategray;">{{ best_filter[2] }} </span>
        </h3>
        <h3>
            Number of rows that would be filtered out: <span style="color: lightslategray;">{{ best_filter[3] }} </span>;
            percentage: <span style="color: lightslategray;">{{ best_filter[4] }} </span>
        </h3>
    </div>
    <div class="container-fluid">
            <h2>Columns usage</h2>
            <p>This is a high view metric to give you an idea of the amount of date you are reading from a file or DB that actually makes it to the final result.</p>
            <p>Usually we do direct and indirect filtering in the report, when possible it is better to filter out when reading, so we don't waste memory, time loading and computation power on unecessary data.</p>
            <h4>The actual logic:</h4>
            <p>matching_rows = set(self.input_df[col].unique()).intersection(self.final_df[col].unique())</p>
            <p>percentage = len(matching_rows) / len(self.input_df[col].unique())</p>
    </div>
    <div class="container-fluid">
        {{ data_usage_plot }}
    </div>
    <div class="container-fluid">
         <h2>Filtering Quick Wins</h2>
         <h4>This is the must useful part of the report</h4>
         <p>If you filter out this values you will gain speed.</p>
         <p>Important note: for Id columns check their meaning in their related table to make sense of the filters</p>
    </div>
    <div class="container-fluid">
        {% for col in filtering_quick_gains %}
            <div class="container-fluid">
                <h3>Column 
                    <span style="color: lightslategray;">{{ col['column'] }}</span>, 
                    with dtype: <span style="color: lightslategray;">{{ col['dtype'] }}</span>; 
                    unused rows being read: <span style="color: lightslategray;">{{ col['useless_rows'] }}</span>.
                </h3>
                <h4>Filter out:</h4>
                {%- for column in col['filter_out']|slice(2) %}
                <div class="container">
                    <ul class="column-{{ loop.index }}"  style="list-style-type: none;">
                    {%- for item in column %}
                        <li style="color: lightslategray;"> {{ item }}</li>
                    {%- endfor %}
                    </ul>
                </div>
                {%- endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid">
        <h2>Multi column filters that you may consider:</h2>
        {{ multi_columns_filter_df }}
    </div>
</body>